.form-modal {
  #modal-header {
    .modal-header-img {
      height: 70px;
      margin-bottom: 1rem;
    }
    p {
      line-height: 1.2;
      margin-bottom: 2rem;
    }
  }
}

#form-response {
  text-align: center;
  font-size: rem-calc(15);
}


// /////////
// Media Queries - Medium UP
// /////////
@include breakpoint (medium up) {
  .form-left {
    padding-right: rem-calc(7.5);
  }
  .form-right {
    padding-left: rem-calc(7.5);
  }
}

@include breakpoint (small down) {
  .remodal {
    padding: 35px 10px;
  }
}
