section.future {
  padding-top: 60px;
  padding-bottom: 55px;
  .info_caption {
    text-align: center;
    margin-bottom: 2rem;
  }
  #future_wrapper {
    //
    .card-img {
      width: 50%;
      margin: 0 auto;
      padding: 55px 0;
    }
    .card-caption {
      padding: 0 rem-calc(22) rem-calc(22);
      text-align: center;
      height: 135px;
      h4 {
        font-size: rem-calc(20);
        margin-bottom: 0;
        color: $dark;
        line-height: normal;
      }
    }
  }

  // ////////
  // Media Queries - Medium
  // ////////
  @include breakpoint (medium down) {
    #future_wrapper {
      .card-img {
        padding: 30px 0;
      }
      .card-caption {
        height: 170px;
      }
    }
  }
  @include breakpoint (small down) {
    #future_wrapper {
      .card {
        margin-bottom: 2.5rem;
      }
      .card-caption {
        height: auto;
      }
    }
  }


} //section.future
