/**** GRID SYSTEM */
.container,
.container-full {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container { width: 750px; }
}
@media (min-width: 992px) {
  .container { width: 970px; }
}
@media (min-width: 1200px) {
  .container { width: 1170px; }
}

.container:before,
.container:after,
.container-full:before,
.container-full:after {
  content: " ";
  display: table;
}
.container:after,
.container-full:after {
  clear: both;
}

.row.wide {
  width: 100%;
  max-width: none;
}

/**** VARIOUS STYLING CLASSES */
.display-table {
  display: table;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.stuck {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

/**** CORE TYPOGRAPHY STYLES */
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  & small {
    text-transform: none;
  }
}

p {
  font-size: 90%;
  &.intro {
    font-size: 100%;
  }
  &.small {
    font-size: 75%;
  }
  &.mini {
    font-size: 60%;
    line-height: 110%;
    letter-spacing: 0.5px;
  }
}

/**** CUSTOM BUTTON STYLES */
.button {
  padding: rem-calc(12) rem-calc(32);
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 1px;
  &.feature {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
  &.feature_outline {
    background-color: transparent;
    border: 2px solid $point;
    color: $point;
    &:hover {
      background-color: $point;
      color: #fff;
    }
  }
  &.light_outline {
    background-color: transparent;
    border: 2px solid $mid_grey;
    color: $mid_grey;
    &:hover {
      background-color: $light-gray;
      color: $black;
    }
  }
  &.wide {
    width: 100%;
    padding-left: rem-calc(1);
    padding-right: rem-calc(1);
  }
}


/**** INPUT FIELD STYLES */
.input-field {
  label {
    height: 21px;
  }
  textarea {
    height: 110px;
    font-size: rem-calc(15) !important;
  }
  input {
    height: $input-form-height;
    transition: all 0.3s ease-in-out;
  }

  input.date {
    // Display on focus
    &:focus::placeholder {
      display:inherit;
      visibility: visible;
      color: $dark;
    }

    // Hide when unfocused
    &::placeholder {
      display: none;
      visibility: hidden;
      color: #fff;
    }
  }

  input[type=date] {
    -webkit-appearance:none;
    -moz-appearance:none;
    &::-webkit-datetime-edit{ color: transparent; }
    &:focus::-webkit-datetime-edit{ color: $dark; }
    &:valid::-webkit-datetime-edit{ color: $dark; }
  }

  // Hover and Focus style
  [type='text'],
  [type='password'],
  [type='date'],
  [type='datetime'],
  [type='datetime-local'],
  [type='month'],
  [type='week'],
  [type='email'],
  [type='number'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='url'],
  [type='color'],
  textarea {
    &:focus {
      transition: box-shadow 0.5s ease-in-out;
      box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    }
  }
}

// Animated and moving Form Label
.input-field.nolabel {
  position: relative;
  display: inline-block;
  width: 100%;
  label {
    position: absolute;
    left: .5rem;
    line-height: $input-form-height;
    top: 0;
    transition: all .3s ease;
    z-index: 1;
    &.textarea {
      top: -10px;
    }
  }
  input, textarea {
    padding-top: 18px;
  }
  &.active {
    label {
      top: -12px;
      opacity: .6;
      font-size: $form-label-font-size * 0.85;
      z-index: 1;
    }
  }
  & input::placeholder,
  & textarea::placeholder {
    color: #fff;
    color: transparent;
  }
}


// Animated bottom border bar
.bar {
  position: relative;
  display: block;
  width: 100%;
  &:before,
  &:after {
    content:'';
    height:2px;
    width:0;
    bottom:$form-spacing;
    position:absolute;
    background:$point;
    transition:0.2s ease all;
  }
  &:before { left:50%; }
  &:after { right: 50%; }
}
input:focus,
textarea:focus {
  & ~ .bar:before,
  & ~ .bar:after {
    width: 50%;
  }
}

// Two item inline checkbox
.gender {
  height: $input-form-height;
  line-height: $input-form-height;
  .gender-item {
    &:first-child {
      padding-right: 0;
    }
    &:last-child {
      padding-left: 0;
    }
  }
  input.radio:empty {
    margin-left: -9999px;
  }
  input.radio:empty ~ .radio_opt {
    position: relative;
    width: 100%;
    float: left;
    text-align: center;
    font-size: $input-font-size;
    font-weight: 500;
    height: $input-form-height;
    line-height: $input-form-height;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: $form-spacing;
    padding: 0;
    cursor: pointer;
    user-select: none;
    color: $dark;
    background-color: #f4f4f4;
    transition: all .3s ease-in-out;
  }
  /* toggle hover */
  input.radio:hover:not(:checked) ~ .radio_opt {
    background-color: darken(#f4f4f4, 5%);
  }
  /* toggle on */
  input.radio:checked ~ .radio_opt {
    color: #fff;
    background-color: $dark;
  }
}

// FORM Styling
.form_count {
  //margin-top:-1rem;
  //margin-bottom: 1rem;
  color: $mid_grey;
  font-size: rem-calc(12);
  text-align: right;
  position: absolute;
  top: 2px;
  right: 5px;
  width: 100%;
}

p.form-label {
  margin-bottom: 5px;
  font-size: rem-calc(13);
}
p.form-label-term {
  margin: 0;
  margin-top:rem-calc(-11);
  line-height: normal;
  font-size: rem-calc(11);
}

label.req:after {
  content: '*';
  color: red;
  font-size: rem-calc(15);
  line-height: 0;
}

#upload-wrapper {
  margin-bottom: 2rem;
}

// ///////
// jQuery Autocomplete Overrides
// ///////
.autocomplete-suggestion {
  font-size: rem-calc(13);
  font-weight: 500;
  line-height: 2.25rem;
  border-bottom: 1px solid $light-gray;
  b {
    color: $point;
    font-weight: bold;
  }
}


// ///////
// Select2 Overrides
//////////
select.searchable {
  margin-bottom: 1rem;
}

.searchable-container {
  margin-bottom: 1rem;
}

.select2-selection__rendered,
.select2-results {
  font-size: rem-calc(13);
  color: $black !important;
}

.select2-selection--single,
.select2-dropdown {
  border-radius: 0px !important;
  border: 1px solid #cacaca !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 2.25rem;
}

.select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 2.25rem !important;
}

.select2-dropdown {border-top: 0px !important;}

.select2-search__field {
  margin: 0;
}

.select2-results__option--highlighted {
  background-color: $point !important;
}
