.top-bar {
  background-color: $white;
  border-bottom: 1px $light_grey solid;
  width: 100%;
  z-index: 99;
  box-shadow: 0px 3px 4px rgba($light-gray, 0.23);
  .top-bar-title {
    padding: 0 1rem;
    .menu-icon-span {
      padding: auto 0;
    }
    .menu-icon {
      margin-right: 12px;
      padding: 0.5rem 0;
    }
    img {
      height: auto;
      margin-bottom: 4px;
    }
  }
  .menu-icon::after {
    background: $mid_grey;
    box-shadow: 0 7px 0 $mid_grey, 0 14px 0 $mid_grey;
    height: rem-calc(2.4);
  }
  .top-bar-left {
    // Left menu styles
  }
  .top-bar-right {
    ul.header-menu {
      list-style-type: none;
      margin: 0;
      padding: 0;
      padding-right: 0px;
      overflow: hidden;
      float: right;
      background-color: $white;
      li {
        display: inline;
        float: left;
        padding: 10px 22px;
        transition: all .3s ease;
        font-size: rem-calc(12.5);
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: rem-calc(0.5);
        background-color: $white;
        a {
          color: $mid_grey;
          text-align: center;
          text-decoration: none;
        }
        &:hover:not(.active) {
          background-color: $light-gray;
        }
        &.active {
          border-bottom: 2px $point solid;
          padding: 10px 22px 10px 20px;
        }
        &.feature {
          background-color: $point;
          margin-left: 15px;
          a {color: #fff;}
          &:hover {
            background-color: lighten($point, 10%);
          }
        }
      }
    }
  }
}

@include breakpoint (small down) {
  .top-bar .top-bar-right {
    ul.header-menu {
      width: 100%;
      li {
        width: 100%;
        display: block;
        text-align: center;
        &.active {
          margin-left: 0;
        }
      }
    }
  }
}
