.hero {
  width: 100%;
  padding: 100px 0 200px;
  background: $point;
  background: url(../img/hero-bg.png) no-repeat;
  background-position: center center;
  background-size: auto;
  position: relative;
  &-wrapper {
    text-align: center;
    color: #fff;
    .hero-caption {
      margin-top: -40px;
      padding: 0 10%;
      @include breakpoint (medium down) {
        padding-left: rem-calc(15);
        padding-right: rem-calc(15);
      }
      h4 {
        text-transform: lowercase;
        margin-bottom: 35px;
        margin-top: 0;
      }
      h1 {
        font-size: rem-calc(24);
        font-weight: bold;
        margin-bottom: 15px;
      }
    }
    .popup_example {
      img {
        text-align: center;
      }
    }
  }
}


#intro_statement {
  margin-top: -80px;
  text-align: center;
  h3 {
    text-transform: lowercase;
    font-size: rem-calc(22);
    font-weight: 300;
    padding-left: rem-calc(22);
    padding-right: rem-calc(22);
  }
}

// /////////
// Section Media Queries - SMALL
// /////////
@include breakpoint (small down) {
  .hero {
    padding: 30px 0;
    &-wrapper {
      .hero-caption {
        order: 1;
        margin-top: 0;
        padding-top: 30px;
        padding-bottom: 50px;
      }
      .popup_example {
        order: 2;
      }
    }
  }
  #intro_statement {
    margin: 20px 0 0;
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
    h3 {
      font-size: rem-calc(16);
      padding-left: rem-calc(13);
      padding-right: rem-calc(13);
      font-weight: 400;
    }
  }
}
