#info-one {
  margin-top: 115px;
  padding-bottom: 60px;
  .info_caption {
    padding-left: rem-calc(25);
  }
}

.info_caption {
  h4 {
    color: $point;
    text-transform: uppercase;
    font-size: rem-calc(18);
    font-weight: 500;
  }
  p {
    margin-bottom: 0;
    font-size: rem-calc(16);
    color: $dark;
  }
}


#info-two {
  padding-top: 55px;
  padding-bottom: 60px;
  text-align: center;
  .icon {
    padding: 15px 0;
    img {
      width: 90px;
    }
  }
}

#info-three {
  padding-top: 55px;
  .info_caption {
    text-align: right;
    padding-top: 70px;
    padding-right: rem-calc(30);
    i {
      font-size: rem-calc(50);
      color: $point;
      margin-bottom: 1rem;
      padding-right: .5rem;
    }
  }
  .engage-phone {
    padding-left: rem-calc(30);
  }
}

#info-four {
  padding-top: 40px;
  padding-bottom: 60px;
  .icon {
    padding: 15px 0;
    text-align: center;
    img {
      width: 160px;
    }
  }
  .info_caption {
    text-align: center;
  }
}

#info-five {
  padding-top: 55px;
  padding-bottom: 0px;
  text-align: center;
  .icon {
    padding: 15px 0;
    img {
      width: 70px;
    }
  }
}

.highlight {
  width: 100%;
  padding: 100px 0;
  background: $highlight;
  margin-top: -360px;
  clip-path: polygon(0 7%, 100% 0, 100% 100%, 0% 100%);
}

// ///////////
// Media Queries - Highlight Specific
//////////////
@include breakpoint (1150 down) {
  .highlight { margin-top: -280px; }
}
@include breakpoint (1024 down) {
  .highlight { margin-top: -400px; }
}
@include breakpoint (800 down) {
  .highlight { margin-top: -300px; }
}
@include breakpoint (680 down) {
  .highlight { margin-top: -240px; }
}
@include breakpoint (small down) {
  .highlight { margin-top: -370px; text-align: center;}
  .engage-phone {text-align: center;}
}


// ///////////
// Media Queries - Small
//////////////
@include breakpoint (small down) {
  #info-one {
    margin-top: 70px;
    .info_caption {
      padding-left: rem-calc(10);
      padding-right: rem-calc(10);
    }
  }
  #info-three {
    .info_caption {
      text-align: center;
      padding-left: rem-calc(10);
      padding-right: rem-calc(10);
    }
    .engage-phone {
      margin-top: 35px;
      padding-left: rem-calc(30);
      padding-right: rem-calc(30);
    }
  }
  .info_caption {
    margin-top: 25px;
    text-align: center;
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
  }
}

@keyframes ride {
  0% {transform: translate(0, 0px);}
  100% { transform: translate(100%, 0px);}
}
