section.pricing {
  padding: 70px 0;
  text-align: center;
  .info_caption {
    margin-bottom: 40px;
    h4 {
      color: $black;
    }
  }
  p.additional {
    font-style: oblique;
    margin-top: 15px;
    font-size: rem-calc(13);
  }
  .pricing--container {
    border: 1px solid $light-gray;
    border-radius: 4px;
    padding: 20px 45px 20px;
    @include breakpoint (small down) {
      width: 95%;
      text-align: center;
      margin: 0 auto;
    }
    p {
      text-transform: uppercase;
      color: $dark;
    }

    .tab-content {
      display: none !important;
    }
    .current {
      display: inherit !important;
    }

    .price {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      line-height: normal;
      letter-spacing: 0.5px;
      position: relative;

      span.currency-symbol {
        align-self: center;
        font-size: rem-calc(32);
      }
      span.primary-number {
        align-self: center;
        font-size: rem-calc(80);
      }
      span.secondary-number {
        align-self: flex-end;
        font-size: rem-calc(16);
        letter-spacing: 0;
      }
      span.save {
        position: absolute;
        top:20%;
        right: 15px;
        font-size: .8em;
        font-weight: 600;
        color: #fff;
        background: $point;
        border-radius: 5px;
        padding: 4px 8px;
        text-transform: uppercase;
        @include breakpoint (345 down) {
          position:static;
          text-align: center;
          margin: 0 auto;
          width: 100%;
        }
      }
    }
  }

  .option-wrapper {
    padding: 2px 2px 4px;
    border: 1px solid $light-gray;
    border-radius: 3px;
    margin: 1rem 0;
    ul.options {
      display: block;
      text-align: center;
      margin: 0;
      li {
        display: inline;
        list-style-type: none;
        padding: 5px 15px;
        margin: 0;
        border-radius: 3px;
        transition: all .5s ease;
        font-size: rem-calc(13);
        color: lighten($dark, 15%);
        &:hover:not(.active) {
          background-color: $light-gray;
        }
        &.active {
          background-color: $point;
          color: #fff;
        }
      }
    }
  }

  ul.package {
    display: block;
    list-style-type: none;
    margin: 0;
    margin-bottom: 25px;
    li {
      text-align: center;
      margin-top: 8px;
      font-size: rem-calc(13);
      &:first-child {
        margin-top: 0;
      }
    }
  }

  // You're in good company
  #company_statement {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    h3 {
      text-transform: lowercase;
      font-size: rem-calc(22);
      font-weight: 400;
      padding-left: rem-calc(22);
      padding-right: rem-calc(22);
    }
  }

  #customers {
    //
    .card {
      padding: 35px 30px;
      background-color: #F8F8F8;
      position: relative;
      img {
        max-height: 60px;
        width: auto;
      }
      .card-overlay {
        position: absolute;
        text-align: center;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        top: 0;
        left: 0;
        p {
          width: 100%;
          @include vertical-center;
          color: #fff
        }
      }
    }
  }

}

// ////////
// Media Queries - Medium
// ////////
@include breakpoint (medium down) {
  #customers {
    .card {
      margin-bottom: 1rem;
    }
  }
}


// ////////
// Media Queries - Small
// ////////
@include breakpoint (small down) {
  #company_statement {
    margin: 20px 0 0;
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
    h3 {
      font-size: rem-calc(16);
      padding-left: rem-calc(13);
      padding-right: rem-calc(13);
      font-weight: 400;
    }
  }
}
